version: "3.9"

services:
  nats:
    image: nats:latest
    restart: always
    ports:
      - '4222:4222' # NATS server port
      - '8222:8222' # NATS server monitoring port
    networks:
      - internal
  redis:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass r7fOGyA5Ve
    volumes:
      - redis:/data
    networks:
      - internal
  signer:
    image: node-654e3bca7fbeeed18f81d7c7.ps-xaas.io/tsa/signer:main
    networks:
      - internal
    ports:
      - '8888:8080'
    depends_on:
      - nats
    environment:
        SDJWT_SERVICE_URL: http://sdjwt:3000
        VAULT_ADRESS: http://vault:8200
        VAULT_TOKEN: test
        NATS_HOST: nats://nats:4222
        NATS_TOPIC: signer-topic
        NATS_STATUS_TOPIC: status.data.create
        NATS_STATUS_VERIFY_TOPIC: status.data.verify
        CLOUDEVENTPROVIDER_MESSAGING_PROTOCOL: nats
        CLOUDEVENTPROVIDER_MESSAGING_NATS_URL: nats://nats:4222
        ENGINE_PATH: /opt/plugins/hashicorp-vault-provider.so
  vault:
    image: hashicorp/vault
    ports:
      - 8200:8200
    networks:
      - internal
      
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=test
    healthcheck:
      test: [ "CMD-SHELL", "sh -c 'VAULT_ADDR=http://vault:8200 vault status'"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  # vault-init:
  #   # to create a new key // curl --header "X-Vault-Token: test" --request POST --data @keyConfig.json http://localhost:8200/v1/tenant_space/keys/signerkey
  #   # retrieve a key backup and save it to signerkey.json // curl --header "X-Vault-Token: test" --request GET  http://localhost:8200/v1/tenant_space/backup/signerkey
  #   image: curlimages/curl:latest
  #   user: root
  #   depends_on:
  #     vault:
  #       condition: service_healthy
  #   networks:
  #     - internal
  #   volumes:
  #     - ./scripts/vault/init-keys.sh:/vault-scripts/init-keys.sh
  #     - ./scripts/vault/signerkey.json:/vault-scripts/signerkey.json
  #   command: ["/vault-scripts/init-keys.sh"]

networks:
  internal:
volumes:
  redis:
    driver: local